/*------------------------------------*\
  #LABEL
\*------------------------------------*/

label {
  color: #aaa;
  display: block;
  font-size: .8rem;
  padding: 1rem;
  text-transform: uppercase;
}