/*------------------------------------*\
  #INPUT
\*------------------------------------*/

$input-highlight-color: #aaa;
$input-padding: .5rem 1rem;
$input-text-color: #000;
  $input-background-color--focus: #f4f4f4;
  $input-padding--focus: .5rem 1rem;
  $input-text-color--focus: #000;

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"] {
  border: none;
  border-bottom: 1px solid $input-highlight-color;
  color: $input-text-color;
  margin: 0 0 1rem;
  outline: none;
  padding: $input-padding;
  transition: all .25s linear;
  
  &:focus {
    background-color: $input-background-color--focus;
    border-bottom: 1px solid $input-text-color--focus;
    padding: $input-padding--focus;
    transition: all .25s linear;
  }
}


